@model SpotifyRekommendations.Models.ArtistDetailsViewModel

<div>
    <h4>SpotifyArtist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Href)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Href)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Uri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Uri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Popularity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Search</a>
</div>
